.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#header{
  border: 1px solid black;
  text-align: center;
  width: 100vw;
  height:5vh;
}

#tools{
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 90vh;
}


#calc{
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  width: 75vw;
  height: 90vh;
}
